[submodule "accounts"]
	path = accounts
  url = git@github.com:Jaya-Krishna-07/accounts-service.git
[submodule "cards"]
	path = cards
  url = git@github.com:Jaya-Krishna-07/cards-service.git
[submodule "loans"]
	path = loans
  url = git@github.com:Jaya-Krishna-07/loans-service.git
[submodule "configserver"]
	path = configserver
	url = git@github.com:Jaya-Krishna-07/configserver.git
